name: "build-tags"

on:
  push:
    branches-ignore:
      - "**"
    tags:
      - "v[1-9].[0-9]+.[0-9]+-nginx[1-9].[0-9]+.[0-9]+"

jobs:
  docker_buildx_debian:
    runs-on: ubuntu-latest
    timeout-minutes: 210
    steps:
      - name: Run Docker on tmpfs
        uses: JonasAlfredsson/docker-on-tmpfs@v1.0.1
        with:
          tmpfs_size: 7
          swap_size: 9

      - name: Perform setup steps
        uses: JonasAlfredsson/checkout-qemu-buildx@v2
        with:
          should_login: ${{ github.event_name != 'pull_request' }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version numbers from GitHub reference
        id: tagger
        run: bash .github/version_extractor.sh ${GITHUB_REF} >> $GITHUB_ENV

      - name: Build and push all Debian images
        uses: docker/build-push-action@v6.11.0
        with:
          context: ./src
          file: ./src/Dockerfile
          platforms: |
            linux/amd64
            linux/386
            linux/arm64
            linux/arm/v7
          pull: true
          no-cache: true
          push: true
          tags: |
            jonasal/nginx-certbot:${{ env.APP_MAJOR }}
            jonasal/nginx-certbot:${{ env.APP_MAJOR }}.${{ env.APP_MINOR }}
            jonasal/nginx-certbot:${{ env.APP_MAJOR }}.${{ env.APP_MINOR }}.${{ env.APP_PATCH }}
            jonasal/nginx-certbot:${{ env.APP_MAJOR }}.${{ env.APP_MINOR }}.${{ env.APP_PATCH }}-nginx${{ env.NGINX_VERSION }}

  docker_buildx_alpine:
    runs-on: ubuntu-latest
    timeout-minutes: 100
    steps:
      - name: Run Docker on tmpfs
        uses: JonasAlfredsson/docker-on-tmpfs@v1.0.1
        with:
          tmpfs_size: 7
          swap_size: 9

      - name: Perform setup steps
        uses: JonasAlfredsson/checkout-qemu-buildx@v2
        with:
          should_login: ${{ github.event_name != 'pull_request' }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version numbers from GitHub reference
        id: tagger
        run: bash .github/version_extractor.sh ${GITHUB_REF} >> $GITHUB_ENV

      - name: Build and push all Alpine images
        uses: docker/build-push-action@v6.11.0
        with:
          context: ./src
          file: ./src/Dockerfile-alpine
          platforms: |
            linux/amd64
            linux/arm64
          pull: true
          no-cache: true
          push: true
          tags: |
            jonasal/nginx-certbot:${{ env.APP_MAJOR }}-alpine
            jonasal/nginx-certbot:${{ env.APP_MAJOR }}.${{ env.APP_MINOR }}-alpine
            jonasal/nginx-certbot:${{ env.APP_MAJOR }}.${{ env.APP_MINOR }}.${{ env.APP_PATCH }}-alpine
            jonasal/nginx-certbot:${{ env.APP_MAJOR }}.${{ env.APP_MINOR }}.${{ env.APP_PATCH }}-nginx${{ env.NGINX_VERSION }}-alpine
