name: "build-latest"

on:
  push:
    branches:
      - "main"
      - "master"
    paths:
      - "src/**"
      - ".github/workflows/**"
  pull_request:
    branches:
      - "main"
      - "master"
    paths:
      - "src/Dockerfile*"

jobs:
  docker_buildx_debian:
    runs-on: ubuntu-latest
    timeout-minutes: 100
    steps:
      - name: Run Docker on tmpfs
        uses: JonasAlfredsson/docker-on-tmpfs@v1.0.1
        with:
          tmpfs_size: 4

      - name: Perform setup steps
        uses: JonasAlfredsson/checkout-qemu-buildx@v1
        with:
          should_login: ${{ github.event_name != 'pull_request' }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push latest Debian image
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./src
          file: ./src/Dockerfile
          platforms: |
            linux/amd64
            linux/386
            linux/arm64
            linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: jonasal/nginx-certbot:latest

  docker_buildx_alpine:
    runs-on: ubuntu-latest
    timeout-minutes: 100
    steps:
      - name: Run Docker on tmpfs
        uses: JonasAlfredsson/docker-on-tmpfs@v1.0.1
        with:
          tmpfs_size: 4

      - name: Perform setup steps
        uses: JonasAlfredsson/checkout-qemu-buildx@v1
        with:
          should_login: ${{ github.event_name != 'pull_request' }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push latest Alpine image
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./src
          file: ./src/Dockerfile-alpine
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: jonasal/nginx-certbot:latest-alpine
